@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/faunaone/v1/cSd7NBXNFQWK4oX1706dY7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


@font-face {
  font-family: 'Mr Dafoe';
  font-style: normal;
  font-weight: 400;
  src: local('Mr Dafoe Regular'), local('MrDafoe-Regular'), url(http://themes.googleusercontent.com/static/fonts/mrdafoe/v2/F1AgEicuA-Vh7KAhE4UhjXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  font-family: 'Fauna One', "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #eee;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  

}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.section{
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: auto;
}


.me{
  /*background-color: #f6f6f6;*/
  position: relative;
  top: 15%;
}

.me .title{
  color: #333;
  text-align: center;
  font-size:50px;
  font-family: "Mr Dafoe";
  line-height:50px;
  margin-bottom: 30px;
}

.social-icons{
  height: 60px;
  margin-top: 10px;
}

.social {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  background-image: url('../img/social-icons.png');
  background-position: 0px 0px;
  image-rendering: -webkit-optimize-contrast;
}

.social:hover{
  opacity: .8;
}

.social.twitter{
  background-position: -60px 0px;
}

.social.github{
  background-position: -180px 0px;
}

.social.facebook{
  background-position: -120px 0px;
}

.social.cv{
  background-position: -240px 0px;
}
/*
.social.twitter:hover{
  background-position: -60px -60px;
}

.social.github:hover{
  background-position: -180px -60px;
}

.social.facebook:hover{
  background-position: -120px -60px;
}

.social.linkedin:hover{
  background-position: 0px -60px;
}

.social.cv:hover{
  background-position: -240px -60px;
}*/





