
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratAlternates-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserratalternates/v1/z2n1Sjxk9souK3HCtdHukkgzB8lONmAFCo-7kcqDvBSglnMp3_3A8V8Ai8YosRtX.woff) format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  font-family: 'Roboto', "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #222222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  

}

.center{
  text-align: center;
}


.justify{
  text-align: justify;
}


.loading{
  position:relative;
  top:40%;
  height: 20px;
  padding-top:20px;
  padding-bottom:10px;
  color: white;
}

.loading img{
  height: 20px;
  width: 20px;
  margin-right: 3px;
}

.loading-spacer{
  height: 50%;
  margin-bottom: -20px;
  float: left;
}

.page-wrap{
  height: 100%;
  position: relative;
  overflow: visible;
}

.section{
  padding-top: 120px;
  padding-bottom: 120px;
  z-index: 15;
}

.catan{
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: url(../img/board.jpg);*/
  background-image: url(../img/board3.jpg);
}

.projects-spacer.catan{
  background-image: url(../img/dominoes.jpg);
  /*background-color: #4183D7;*/
  background-attachment: scroll;
  background-repeat: repeat;
}


.catan-touch{
  background-attachment: local !important;
}


.section .title{
  color: #333;
  text-align: center;
  /*font-family: "Mr Dafoe";*/
  /*font-family: "Bigshot One";*/
  font-family: "Montserrat Alternates";
  font-size:40px;
  line-height:50px;
  margin-bottom: 20px;
  position: relative;
}


.arrow-wrap{
  position: absolute;
  bottom: 0;
}

.arrow-wrap .arrow{
  /*background: transparent url(../img/single-blue-arrow.png) no-repeat 0 0;*/
  background: transparent url(../img/arrow-light.png) no-repeat 0 0;
  top: -15px;
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.section-projects .arrow-wrap .arrow{
  background: transparent url(../img/arrow-dark.png) no-repeat 0 0;
  margin-bottom: 40px;
}

.arrow-wrap .arrow:hover{
  opacity: 0.9;
}



.section-me{
  background-color: #000;
  /*background-color: #f6f6f6;*/
  /*background-color: #4183D7;*/
  border-bottom: 1px solid #D9D9D9;
  padding-top: 0;
  padding-bottom: 0px;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #fff;
}

.projects-spacer{
  width: 100%;
  height: 0px;
  position: relative;
  z-index: 17;
  -webkit-backface-visibility: visibile;

}

.splash-wrap{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: visible;
  /*background-color: rgba(0,0,0,.8);*/

  
}

.splash-wrap .container{
  padding-top: 120px;
  padding-bottom: 120px;
}





.section-me .title{
  font-size: 50px;
  color: #fff;
}


.section-projects{
  background-color: #F0FFFF;
  border-top: 1px solid #F0F0F0;
  /*border-bottom: 1px solid #D9D9D9;*/
  padding-top: 120px;
  padding-bottom: 140px;
  position: relative;
}

.section-projects .overview{
  overflow: auto;
}


.projects{
  position: relative;
  overflow: auto;
}


.active-project{
  height: auto;
  display: none;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}

.active-project .details{
  font-size: 14px;
  position: relative;
}

.active-project .name, .active-project .entry{
  padding-left: 10px;
  padding-right: 10px;
}

.active-project .name{
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
}

.active-project .entry{
  height: auto;
  overflow: auto;
  position: relative;
  line-height: 20px;
  margin-bottom: 2px;
}
.active-project .entry .header{
  position: absolute;
  left: 0;
  color: #AAAAAA;
  padding-left: 10px;
}

.active-project .entry .value{
  margin-left: 60px;
}

.active-project .entry a{
  color: #fff;
  text-decoration: underline;
}


.project{
  float: left;
  width: 33.333333333%;
  /*width: 256.666666666px;*/
  height: 200px;
  text-align: center;
  position: relative;
  cursor: pointer;
}


.project .info{
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #fff;
  font-size: 14px;
  display: none;
}

.project .info .back{
  height: 30px;
  width: 100%;
  background-color: #333;
  opacity: .7;
  position: absolute;
  bottom: 0;
}

.project .info .name, .project .info .role{
  position: relative;
  z-index: 10;
  margin-top: 4px;
}

.project .info .name{
  float: left;
  padding-left: 5px;
}

.project .info .role{
  float: right;
  padding-right: 5px;
}



.project-trendwars{
  margin-left: 0px;
  background-color: #FFFCCC;
}

.project-thesis{
  margin-right: 0px;
  background-color: #B0B0B0;
}

.project-clados{
  background-color: #fff;
  text-align: right;
}

.project-sideplay{
  margin-left: 0px;
  background-color: #CCFFFF;
}

.project-odr{
  background-color: #469BAD;
}

.project-rpt{
  margin-right: 0px;
  background-color: #ffcc66;
}

.project-voxa{
  /*background-color: #353535;*/
  background-color: whitesmoke;
}

.project-voxa img{
  width: 90%;
  position: relative;
  top: 78px;
}


.project-trendwars img{
  width: 90%;
  position: relative;
  top: 50px;
}


.project-clados img{
  position: relative;
}

.project-thesis img{
  width: 50%;
  position: relative;
  top: 40px;
}


.project-sideplay img{
  position: relative;
  top: 25px;
}

.project-odr img{
  position: relative;
  top: 20px;
  height: 90%;
}

.project-rpt img{
  position: relative;
  top: 40px;
  width: 90%;
}


/* Publications */


.section-pubs{
  background-color: #fff;
  border-top: 1px solid #F0F0F0;
  position: relative;
  
  z-index: 16;
}


.publication-title{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.publication-title .span8{
  border-bottom: 1px solid #ccc;
}

.publication-title span{
  padding-left: 5px;
}


.publications{
  font-size: 13px;
  margin-bottom: 20px;
}

.publications, .publications a{
  color: #5C5858;
}


.publications em{
  color: #222;
  font-size: 14px;
}

.publication{
  margin-top: 10px;
}



/* Social Icons */

.social-icons{
  height: 60px;
  margin-top: 10px;
}

.social {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  background-image: url('../img/social-icons.png');
  background-position: 0px 0px;
  image-rendering: -webkit-optimize-contrast;
}



.social:hover{
  opacity: .8;
}

.social.twitter{
  background-position: -60px 0px;
}

.social.github{
  background-position: -180px 0px;
}

.social.facebook{
  background-position: -120px 0px;
}

.social.cv{
  background-position: -240px 0px;
}


.footer{
  background-color: #222222;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top: 15px;
  line-height: 20px;
  height: 35px;
}

.footer .copy span{
  position: relative;
  top: 0px;
}


.stick-top{
  position:  fixed !important;
  top: 0;
  width: inherit;
  background: #fff;
  padding-top: 10;
}


/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 1199px) { 
  .project{
    height: 180px;
  }

  .project-odr img{
    top: 18px;
  }


}

@media (max-width: 979px) { 
  .section-me{
    /*top: 15%;*/
  }

  .section-me .title{
    font-size:45px;
    line-height:45px;
  }


  .container.projects-content .span8 {
    width: 620px;
  }

  .projects-content .offset2{
    margin-left: 70px;
  }

  .project{
    height: 180px;
    /*width: 50%;*/
  }
  
  .projects-spacer{
    height: 250px;
  }




  .project-thesis img{
    top: 35px;
  }

  .project-sideplay img{
    top: 15px;
  }

  .project-odr img{
    top: 18px;
  }

  .project-rpt img{
    top: 30px;
  }

/*.projects-spacer.catan{
  background-image: url(../img/catan-narrow2.png);
}*/


}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  html, body{
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .container.projects-content .span8 {
    width: 100%;
  }

  .projects-content .offset2{
    margin-left: 0;
  }

  .container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .arrow-wrap{
    width: 100%;
  }

  .section-projects .projects-content{
    padding-left: 0px;
    padding-right: 0px;
  }




  .section{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-me{
    /*top: 20%;*/
    padding-bottom: 80px;
  }


  .section-projects .title{
    padding-bottom: 20px;
  }

  .section-projects{
    padding-bottom: 0px;
  }


  .project{
    height: 180px;
    width: 50%;
  }


  .project-voxa img{
    width: 65%;
    top: 25%;
  }

  .project-trendwars img{
    width: 65%;
    top: 30%;
  }


  .project-clados img{
    width: 80%;
  }

  .project-thesis img{
    width: 120px;
    top: 20%;
  }


  .project-sideplay img{
    top: 15px;
  }

  .project-odr img{
    height: 90%;
  }

  .project-rpt img{
    width: 200px;
    top: 20%;
  }

  .publication-title span{
    line-height: 25px;
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .section-me{
    top: 0px;
    padding-bottom: 40px;
    padding-top: 0px;
  }

  .section-projects{
    border-bottom: 2px solid #F0FFFF;
  }

  .splash-wrap .container{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section .title{
    font-size:30px;
    line-height:35px;
    margin-bottom: 10px;
  }

  .projects-spacer{
    height: 100px;
  }

  .social {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../img/social-icons-small.png');
  }

  .arrow-wrap{
    display: none;
  }

  .social.twitter{
    background-position: -40px 0px;
  }

  .social.github{
    background-position: -120px 0px;
  }

  .social.facebook{
    background-position: -80px 0px;
  }

  .social.cv{
    background-position: -160px 0px;
  }

  .section-projects{
    border-bottom: 2px solid #F0FFFF;
  }


  .project{
    width: 100%;
  }

  .project-voxa img{
    width: 65%;
    top: 20%;
  }



  .project-trendwars img{
    width: 65%;
    top: 20%;
  }


  .project-clados img{
    width: 280px;
  }

  .project-thesis img{
    width: 120px;
    top: 20%;
  }


  .project-sideplay img{
    top: 15px;
  }

  .project-odr img{
    height: 90%;
  }

  .project-rpt img{
    width: 200px;
    top: 20%;
  }

  .active-project{
    float: left;
    width: 100%;
  }

}


/* Retina icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5) {

  .social {
    background-image: url('../img/social-icons@2x.png');
    -moz-background-size:240px 60px;
    -ie-background-size:240px 60px;
    -o-background-size:240px 60px;
    -webkit-background-size:240px 60px;
    background-size:240px 60px;
  }
}

@media only screen and (max-width: 480px),
 only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5) {

  .social {
    width: 40px;
    height: 40px;
    background-image: url('../img/social-icons@2x.png');
    -moz-background-size:160px 40px;
    -ie-background-size:160px 40px;
    -o-background-size:160px 40px;
    -webkit-background-size:160px 40px;
    background-size:160px 40px;
  }

  .social.twitter{
    background-position: -40px 0px;
  }

  .social.github{
    background-position: -120px 0px;
  }

  .social.facebook{
    background-position: -80px 0px;
  }

  .social.cv{
    background-position: -160px 0px;
  }
}

