
/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}

@media (max-width: 979px) { 
  .me{
    top: 15%;
  }

  .me .title{
    font-size:50px;
    line-height:50px;
  }
}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  html, body{
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .container{
    padding-left: 20px;
    padding-right: 20px;
  }


  .section{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .me{
    top: 20%;
  }


}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  .me{
    top: 0px;
  }
  .me .title{
    font-size:40px;
    line-height:40px;
  }

  .social {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../img/social-icons-small.png');
  }

  .social.twitter{
    background-position: -40px 0px;
  }

  .social.github{
    background-position: -120px 0px;
  }

  .social.facebook{
    background-position: -80px 0px;
  }

  .social.cv{
    background-position: -160px 0px;
  }

}


/* Retina icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5) {

  .social {
    background-image: url('../img/social-icons@2x.png');
    -moz-background-size:240px 60px;
    -ie-background-size:240px 60px;
    -o-background-size:240px 60px;
    -webkit-background-size:240px 60px;
    background-size:240px 60px;
  }
}

@media only screen and (max-width: 480px),
 only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5) {

  .social {
    background-image: url('../img/social-icons@2x.png');
    -moz-background-size:160px 40px;
    -ie-background-size:160px 40px;
    -o-background-size:160px 40px;
    -webkit-background-size:160px 40px;
    background-size:160px 40px;
  }
}
