
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratAlternates-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserratalternates/v1/z2n1Sjxk9souK3HCtdHukkgzB8lONmAFCo-7kcqDvBSglnMp3_3A8V8Ai8YosRtX.woff) format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  font-family: 'Roboto', "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #222222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);  

}

.center{
  text-align: center;
}


.justify{
  text-align: justify;
}


.loading{
  position:relative;
  top:40%;
  height: 20px;
  padding-top:20px;
  padding-bottom:10px;
  color: white;
}

.loading img{
  height: 20px;
  width: 20px;
  margin-right: 3px;
}

.loading-spacer{
  height: 50%;
  margin-bottom: -20px;
  float: left;
}

.page-wrap{
  height: 100%;
  position: relative;
  overflow: visible;
}

.section{
  padding-top: 120px;
  padding-bottom: 120px;
  z-index: 15;
}

.catan{
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/board.jpg);
  
}

.projects-spacer.catan{
  background-image: url(../img/dominoes.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
}


.catan-touch{
  background-attachment: local !important;
}


.section .title{
  color: #333;
  text-align: center;
  /*font-family: "Mr Dafoe";*/
  /*font-family: "Bigshot One";*/
  font-family: "Montserrat Alternates";
  font-size:40px;
  line-height:50px;
  margin-bottom: 20px;
  position: relative;
}


.arrow-wrap{
  position: absolute;
  bottom: 0;
}

.arrow-wrap .arrow{
  background: transparent url(../img/single-blue-arrow.png) no-repeat 0 0;
  display: block;
  width: 42px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.arrow-wrap .arrow:hover{
  opacity: 0.9;
}



.section-me{
  background-color: #f6f6f6;
  border-bottom: 1px solid #D9D9D9;
  padding-top: 0;
  padding-bottom: 0px;
  height: 100%;
  min-height: 100%;
  position: relative;
  color: #fff;
}

.projects-spacer{
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 17;
  -webkit-backface-visibility: visibile;

}

.splash-wrap{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: visible;
  /*background-color: #fff;*/
  background-color: rgba(0,0,0,.8);
  
}

.splash-wrap .container{
  padding-top: 120px;
  padding-bottom: 120px;
}





.section-me .title{
  font-size: 50px;
  color: #fff;
}


.section-projects{
  background-color: #F0FFFF;
  border-top: 1px solid #F0F0F0;
  /*border-bottom: 1px solid #D9D9D9;*/
  padding-top: 120px;
  padding-bottom: 140px;
  position: relative;
}

.section-projects .overview{
  overflow: auto;
}


.projects{
  position: relative;
  overflow: auto;
}


.active-project{
  height: auto;
  display: none;
  background-color: #333;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}

.active-project .details{
  font-size: 14px;
  position: relative;
}

.active-project .name, .active-project .entry{
  padding-left: 10px;
  padding-right: 10px;
}

.active-project .name{
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
}

.active-project .entry{
  height: auto;
  overflow: auto;
  position: relative;
  line-height: 20px;
  margin-bottom: 2px;
}
.active-project .entry .header{
  position: absolute;
  left: 0;
  color: #AAAAAA;
  padding-left: 10px;
}

.active-project .entry .value{
  margin-left: 60px;
}

.active-project .entry a{
  color: #fff;
  text-decoration: underline;
}


.project{
  float: left;
  width: 33.333333333%;
  /*width: 256.666666666px;*/
  height: 200px;
  text-align: center;
  position: relative;
  cursor: pointer;
}


.project .info{
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: left;
  color: #fff;
  font-size: 14px;
  display: none;
}

.project .info .back{
  height: 30px;
  width: 100%;
  background-color: #333;
  opacity: .7;
  position: absolute;
  bottom: 0;
}

.project .info .name, .project .info .role{
  position: relative;
  z-index: 10;
  margin-top: 4px;
}

.project .info .name{
  float: left;
  padding-left: 5px;
}

.project .info .role{
  float: right;
  padding-right: 5px;
}



.project-trendwars{
  margin-left: 0px;
  background-color: #FFFCCC;
}

.project-thesis{
  margin-right: 0px;
  background-color: #B0B0B0;
}

.project-clados{
  background-color: #fff;
  text-align: right;
}

.project-sideplay{
  margin-left: 0px;
  background-color: #CCFFFF;
}

.project-odr{
  background-color: #469BAD;
}

.project-rpt{
  margin-right: 0px;
  background-color: #ffcc66;
}

.project-voxa{
  background-color: #353535;
}

.project-voxa img{
  width: 90%;
  position: relative;
  top: 50px;
}


.project-trendwars img{
  width: 90%;
  position: relative;
  top: 50px;
}


.project-clados img{
  position: relative;
}

.project-thesis img{
  width: 50%;
  position: relative;
  top: 40px;
}


.project-sideplay img{
  position: relative;
  top: 25px;
}

.project-odr img{
  position: relative;
  top: 20px;
  height: 90%;
}

.project-rpt img{
  position: relative;
  top: 40px;
  width: 90%;
}


/* Publications */


.section-pubs{
  background-color: #fff;
  border-top: 1px solid #F0F0F0;
  position: relative;
  
  z-index: 16;
}


.publication-title{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 16px;
}

.publication-title .span8{
  border-bottom: 1px solid #ccc;
}

.publication-title span{
  padding-left: 5px;
}


.publications{
  font-size: 13px;
  margin-bottom: 20px;
}

.publications, .publications a{
  color: #5C5858;
}


.publications em{
  color: #222;
  font-size: 14px;
}

.publication{
  margin-top: 10px;
}



/* Social Icons */

.social-icons{
  height: 60px;
  margin-top: 10px;
}

.social {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  background-image: url('../img/social-icons.png');
  background-position: 0px 0px;
  image-rendering: -webkit-optimize-contrast;
}



.social:hover{
  opacity: .8;
}

.social.twitter{
  background-position: -60px 0px;
}

.social.github{
  background-position: -180px 0px;
}

.social.facebook{
  background-position: -120px 0px;
}

.social.cv{
  background-position: -240px 0px;
}


.footer{
  background-color: #222222;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top: 15px;
  line-height: 20px;
  height: 35px;
}

.footer .copy span{
  position: relative;
  top: 0px;
}


.stick-top{
  position:  fixed !important;
  top: 0;
  width: inherit;
  background: #fff;
  padding-top: 10;
}
